.chart {
  width: 50%;
}
.blue {
  background-color: 	rgb(240,248,255);

  padding: 10px;
}
td[id=repList] {
  padding-left: 40px;
}
td[id=reIssues] {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}